---
layout: default
---

<html>

<head>
  <script>
    if (sessionStorage.getItem('darkMode') == 'enabled') {
      chk.checked = true;
    } else {
      document.body.classList.remove('dark');
      chk.checked = false;
    }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      $('div.hidden').each(function (hidden) {
        $(this).delay(hidden).fadeIn(200);
      });
    });
  </script>
  <script src="https://kit.fontawesome.com/f3a2794e84.js" crossorigin="anonymous"></script>
</head>

<body class="home">
  <div class="hidden" style="display: none;">
    <div class="container">
      <p>Hi, I&#39m Esteban,<br><span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
    </div>
  </div>
  <script src="type.js"></script>
  <style>

  </style>
  <script>
    const chk = document.getElementById('chk');

    chk.addEventListener('change', () => {
      document.body.classList.toggle('dark');
      if (document.body.classList.contains('dark')) { //when the body has the class 'dark' currently
        sessionStorage.setItem('darkMode', 'enabled'); //store this data if dark mode is on
      } else {
        sessionStorage.setItem('darkMode', 'disabled'); //store this data if dark mode is off
      }
    });
    if (sessionStorage.getItem('darkMode') == 'enabled') {
      document.body.classList.toggle('dark');
      chk.checked = true;
    } else {
      document.body.classList.remove('dark');
      chk.checked = false;
    }
  </script>
  
</body>

</html>